title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "detail"
==
{% set posts = blogPosts.posts %}

<div class="content-center">
  <div class="container"style="margin-top: 100px; padding-bottom : 50px;">
    <div class="row">
	    <div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
        <div class="card bg-dark text-white" style="max-width: 32rem;">
          <img class="card-img img-fluid" src="{{posts[0].featured_images.first.getPath()}}" alt="" style="height: 27rem;">
		       <div class="card-img-overlay d-flex linkfeat">
            <a href="{{ posts[0].url }}" class="align-self-end">
              <span class="badge badge-primary">{% for i in posts[0].categories %} {{ i.name }} {{loop.last?'':','}} {% endfor %}</span>
              <h4 class="card-title">{{ posts[0].title }}</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 py-0 px-1 d-none d-lg-block">
        <div class="row">
          <div class="col-6 pb-2 mg-1	">
            <div class="card bg-dark text-white">
              <img class="card-img img-fluid" src="{{posts[1].featured_images.first.getPath()}}" alt="">
              <div class="card-img-overlay d-flex">
                <a href="{{ posts[1].url }}" class="align-self-end">
                  <span class="badge badge-primary">{% for i in posts[1].categories %} {{ i.name }} {{loop.last?'':','}} {% endfor %}</span>
                  <p class="card-title" style="font-size: 15px;">{{ posts[1].title }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pb-2 mg-3	">
            <div class="card bg-dark text-white">
              <img class="card-img img-fluid" src="{{posts[2].featured_images.first.getPath()}}" alt="">
              <div class="card-img-overlay d-flex">
                <a href="{{ posts[2].url }}" class="align-self-end">
                  <span class="badge badge-primary">{% for i in posts[2].categories %} {{ i.name }} {{loop.last?'':','}} {% endfor %}</span>
                  <p class="card-title" style="font-size: 15px;">{{ posts[2].title }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
