title = "Kategori"
url = "/kategori/blog/:slug?"
layout = "default"
is_hidden = 0

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "detail"
==
{% set posts = blogPosts.posts %}



{% set category = blogCategories.categories.where('slug',this.param['slug']).first %}

{% set headlines = category.posts.take(3) %}

<div class="banner-sec" style="padding-top:4rem">
  <div class="container grid-row-6 clear">
    <h2 class="title grid-col-2 left">
    {{category.name}}
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card" style="height:700px;">
          <div class="card-img-overlay">
            <span class="badge badge-pill badge-danger">{{category.name}}</span>
          </div>
          {% for headline in headlines %}
          {% if loop.first %}
          <div class="card-body">
            <div class="ellipsis">
              <div class="news-title">
                <img  style="width:900px; height:400px;"  class="img-fluid"  src="{{headline.featured_images.first.getPath()}}" alt="">
                <h2 class=" title-large"><a href="{{'detail'|page({slug :headline.slug})}}">{{headline.title}}</a></h2>
              </div>
            </div>
            <div class="news-des">{{headline.excerpt}}</div>
            <div class="time-text">
              <strong>{{ headline.published_at|date('M d,Y')}}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% else %}
        <div class="card" style="height:340px;">
          <img  class="img-fluid"  style="height:230px;" src="{{headline.featured_images.first.getPath()}}" alt="">
          <div class="card-img-overlay">
            <span class="badge badge-pill badge-danger">{{category.name}}</span>
          </div>
          <div class="card-body">
            <div class="ellipsis">
              <div class="news-title">
                <h2 class=" title-small"><a href="{{'detail'|page({slug: headline.slug})}}">{{headline.title}}</a></h2>
              </div>
            </div>
            <small class="text-time">{{ headline.published_at|date('M d,Y')}}</small>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if category %}
    <div class="section-01" style="padding-top:2rem">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h3 class="heading-large">{{category.name}}</h3>
            {% for post in category.posts %}
            {% if post.id in headlines.pluck('id') == false %}
            <div class="">
              <div class="col-lg-4 card">
                <div class="card" style=" height:450px;">
                  <img class="img-fluid" style="height:250px;" src="{{post.featured_images.first.getPath()}}" alt="">
                  <div class="card-body">
                    <div class="ellipsis">
                    <div class="news-title">
                      <a href="{{'detail'|page({slug: post.slug})}}">
                        <h2 class=" title-small">{{post.title}}</h2>
                      </a>
                    </div>
                    </div>
                    <div class="ellipsis">
                    <p class="card-text">{{post.excerpt}}</p>
                  </div>
                    <p class="card-text"><small class="text-time">{{ post.published_at|date('M d,Y')}}</small></p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <h2> category not found </h2>
  </div>
  {% endif %}
</div>