[viewBag]

==
<div style="position: relative; background: yellow; color: black; display: flex; ">
    <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-12 py-2 text-center" >
              MENEMUKAN BERITA HOAX? LAPOR!
                <a href="{{'laporhoax'|page}}" style="color: red;"> KLIK DISINI </a>
            </div>
        </div>
    </div>
</div>
<footer  style="background:black; color:white; position: relative;" >
  <div class="container" style="padding-top:30px;">
    <div class="row">
      <div class="col-md-4">
        <div class style= "width: 1; max-width: 200px;">
          <h1>TURN BACK HOAX</h1>
        </div>
          <p style="font-size:20px; max-width: 250px;"> Mafindo adalah organisasi non-profit independen yang non-partisan. Keberpihakan kami adalah pada kebenaran. <p>
      </div>

      <div class="col-md-2">
        <div>
          <h5>KATEGORI</h5>
        </div>
        <div class="list-menu" style= " margin-top: 30px;">
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/" ><p>Benar</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Salah</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>hoax</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Berita</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/" ><p>Klarifikasi</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Misinformasi</p></a>
        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>TIM KAMI</h5>
        </div>
      <div class="list-menu" style= " margin-top: 30px;">
          <a href="{{'profil-tim'|page}}"><p>Profile Tim</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Kontak Kami</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Tentang Kami</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Forum</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Informasi</p></a>
        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>SOSIAL MEDIA</h5>
        </div>
        <div class="list-menu" style= " margin-top: 30px;">
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Facebook</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Whatsapp</p></a>
          <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Email</p></a>
        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>LAYANAN PUBLIK</h5>
        </div>
        <div class="list-menu">
        <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Media</p></a>
        <a href="{{'sukarelawan'|page}}"><p>Sukarelawan</p></a>
        <a href="https://turnbackhoax.id/2019/02/12/salah-sms-dukungan-buat-jokowi-di-pilpres-2019/"><p>Whatsapp Hoax Buster</p></a>
      </div>

    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <small>
          Copyright {{ ''|date('Y') }} | by Alfamalik | All rights reserved |
        </small>
      </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'static/privacy-policy'|page }}">Privacy Policy</a>
        </small>
      </div>
        </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'static/terms-and-conditions'|page }}">Kode Etik</a>
        </small>
      </div>
        </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'static/terms-and-conditions'|page }}">Koreksi</a>
        </small>
      </div>
    </div>
      </div>

  </div>
</footer>
