[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = 404
==
<div style="position: relative; background: yellow; color: black; display: flex; ">
    <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-12 py-2 text-center" >
              MENEMUKAN BERITA HOAX? LAPOR!
                <a href="{{'laporhoax'|page}}" style="color: red;"> KLIK DI SINI </a>
            </div>
        </div>
    </div>
</div>
<footer  style="background:black; color:white; position: relative;" >
  <div class="container" style="padding-top:30px;">
    <div class="row">
      <div class="col-md-4">
        <div class style= "width: 1; max-width: 200px;">
          <h1>TURN BACK HOAX</h1>
        </div>
          <p style="font-size:20px; max-width: 250px;"> Mafindo adalah organisasi non-profit independen yang non-partisan. Keberpihakan kami adalah pada kebenaran. <p>
      </div>

      <div class="col-md-2">
        <div>
          <h5>KATEGORI</h5>
        </div>
        <div class="list-menu" style= " margin-top: 30px;">
          {% for category in categories %}
          <a href="{{'kategori'|page({slug: category.slug})}}" ><p>{{category.name}}</p></a>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>TIM KAMI</h5>
        </div>
      <div class="list-menu" style= " margin-top: 30px;">
          <a href="{{'profil-tim'|page}}"><p>Profile Tim</p></a>
          <!--<a href="{{'kontak-kami'|page}}"><p>Kontak Kami</p></a>-->
          <a href="{{'tentang-kami'|page}}"><p>Tentang Kami</p></a>
          <a href="{{'sukarelawan'|page}}"><p>Sukarelawan</p></a>
          <a href="{{'keuangan'|page}}"><p>Laporan Keuangan</p></a>

        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>SOSIAL MEDIA</h5>
        </div>
        <div class="list-menu" style= " margin-top: 30px;">
          <a href="https://facebook.com/groups/fafhh"><p>Facebook</p></a>
        </div>
      </div>

      <div class="col-md-2">
        <div>
          <h5>LAYANAN PUBLIK</h5>
        </div>
        <div class="list-menu">
        <a href="{{'media'|page}}"><p>Media</p></a>
        <a href="{{'whatsapp-hoax-buster'|page}}"><p>Whatsapp Hoax Buster</p></a>
        <a href="https://search.turnbackhoax.id"><p>Anti-Hoax Search Engine</p></a>
        <a href="https://play.google.com/store/apps/details?id=irfan.hoaxbustertools"><p>Hoax Buster Tools</p></a>
      </div>

    </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <small>
          Copyright {{ ''|date('Y') }} | by Alfamalik | All rights reserved |
        </small>
      </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'kebijakan'|page }}">Privacy Policy</a>
        </small>
      </div>
        </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'kode-etik'|page }}">Kode Etik</a>
        </small>
      </div>
        </div>
      <div class="col-md-2">
        <div class="list-menu">
        <small>
          <a href="{{ 'koreksi'|page }}">Koreksi</a>
        </small>
        </div>
      </div>
    </div>
  </div>
</footer>
