[viewBag]

[staticMenu mainMenu]
code = "main-menu"
==
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <div class="container">
    <img src="{{ 'assets/images/logotbh.png'|theme}}" style="width:70px; height:70px;">
    <a class="navbar-toggler" href="#" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 50px;">
        <li class="nav-item">
          <a class="nav-link" href="{{ 'home'|page }}">
            Beranda
            {% if item.isActive %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        {% for item in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{{ 'kategori'|page({slug: item.slug}) }}">
            {{ item.name }}
            {% if item.isActive %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
      <form action="{{'search'|page}}" method="get" class="search">
        <input name="q" type="text" class="form-control input-sm" maxlength="64" placeholder="Search" autocomplete="off">
        <button type="submit" class="btn btn-primary btn-sm">Search</button>
      </form>
    </div>
  </div>
</nav>
