.klik{
  &:link {
		color: green;
		text-decoration: none;
	}
	&:hover {
		color: red;
		text-decoration: underline;
	}
	&:active {
		color: yellow;
		text-decoration: underline;
	}
}
a{
  &:hover{
    color:blue;
  }
}
